<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
  <link rel="stylesheet" href="styles/styles.css">
  <title>PingenDATA | Crear Usuario</title>
</head>  
<body>
</html>
<body class="text-gray-800 font-inter">
  <main class="w-full bg-gray-200 min-h-screen transition-all main">
    <!-- end navbar -->
    <section class="px-4 py-8">
      <div class="flex flex-col gap-4">
        <div id="crearUsuarioFormContainer"></div>
      </div>
    </section>
  </main>
</body>
<!-- Cargar el script de JavaScript al final del body -->
<script type="module">
  import CrearUsuarioFormComponent from './scripts/usuarios/presentation/views/formulario-crear-usuario/formularioCrearUsuario.view.js';

  document.addEventListener('DOMContentLoaded', () => {
    const crearUsuarioFormContainer = document.getElementById('crearUsuarioFormContainer');
    const form = CrearUsuarioFormComponent(); // Usamos la función importada
    crearUsuarioFormContainer.appendChild(form);
  });
</script>

</html>