<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.bunny.net">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Crear Usuario</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
</head>

<body>
  <!-- Incluye el script para crear usuario  -->
  <script type="module" src="src/usuarios/presentation/views/crearUsuario.view.js"></script>
</body>

</html>